/* Change Font size for h2  and color to light blue*/
h2 {
    font-size: 1em !important;
    color: white !important;
    background-color: rgb(8, 108, 196) !important;
    padding: 0.5em !important;
    margin: 0px !important;
    /* Increase space below */
    margin-bottom: 1em !important;
}

.reveal .slides section.smaller h2 {
  font-size: 1.43em !important;
}

/* Change font for slides to smaller*/
.reveal .slides {
  font-size: 1em !important;
  margin: 0em !important; 
}

/* img {
  display: block;
} */

.caption{
  text-align: center;
}

.reveal .slide ul li,
.reveal .slide ol li {
  margin-top: 0.5em !important;
  margin-bottom: 0em !important;
  margin-left: 0.3em !important;
}

table {
  margin: 20px auto 50px auto !important;
}

/* .reveal .slide > img.stretch.quarto-figure-center,
.reveal .slide > img.r-stretch.quarto-figure-center {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}*/

.reveal .r-stretch, .reveal .stretch {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; 
} 